:root {
  --primary: #232F3E;
  --secondary: #7796CB;
  --tertiary: #AB3428;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#271f16;
  background-color: #f3f1ed; 
}

code {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color:#271f16;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/heromaybe2.jpg");
  height: 400px;
  justify-items: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  margin-left: 50px;
  align-items: left;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*hero navs*/
a {
  color:rgb(209, 205, 205);
  text-align: left;  
  margin-left: 5px;  
}

a:hover {
  color: rgb(179, 168, 168);

}

.roy {
  margin-left: 20px;
}


/*signup*/
.signupForm {
  background: rgba(202, 207, 205, 0.5);
  text-align: center;
  font-weight: bold;;
  position: absolute;
  top: 25%;
  left:49%;
  margin-top: -130px;
  margin-left: -144px;
  padding: 2rem;
  border-radius: .2rem;

}

.signup  {  
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/Blake_Oysters.JPG");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  filter: sepia(50%);
  position: relative;
  margin-top: 15px;
}

input { 
  margin-left: 1rem;
}

button {
  background-color: rgba(206, 199, 158, 0.9);
  color:#271f16;
  border: none;
  padding: .5rem;
  width: 100%;
  border-radius: .2rem
}

button:hover {
  background-color: rgb(236, 231, 231);
  color: #271f16; 
}

/*login*/
.login {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/FishingWaders.JPG");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  filter: sepia(50%);
  position: relative;
  margin-top: 15px;
  text-align: center;
}

.loginForm {
  background: rgba(202, 207, 205, 0.5);
  text-align: center;
  font-weight: bold;;
  position: absolute;
  top: 25%;
  left: 49%;
  margin-top: -130px;
  margin-left: -144px;
  padding: 2rem;
  border-radius: .2rem;
}

/*footer*/
.footer {
  margin-top: 15px;
  justify-content: center;
}
#demo {
  width: 100%;
  align-items: center;
}

.randomFacts {
  text-align: center;
}

/*faq*/
ul {
 list-style-type: none;
}

li {
  text-align: left;
}

.faq {
  text-align: center;
  padding: 3rem;
  font-size: 4.5rem;
}

.faqQ {
  font-size: 2.5rem;
  padding: 1rem;
}

.faqA {
  font-size: 1rem;
  padding: 1rem;
}

/*Restaurant*/

.restBox {
  padding: 2rem;
}

.restHead {
  text-align: center;
  font-size: 4rem;
}

.restInfo {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

/*App*/
.App {
  text-align: center;
}

.jumbotron {
    padding: 4rem 2rem;
    height: 775px;
    background-color: #f3f1ed;  
}


/*Carousel*/
.wrapper {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.slider {
  width: 1000px;
  height: 200px;
  position: relative;
  background: white;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
  display: flex;
  overflow:hidden;
  background-color: #271f16;
}

.slide {
  height: 200px;
  display: flex;
  align-items: center;
  animation: slideshow 40s linear infinite;


}
.slide img {
  height: 200px;
  padding: 0 30px 0 30px;
}

.slider::before, .slider::after {
  height: 100px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right:0;
  top:0;
  transform: rotateZ(180deg);
}

@keyframes slideshow {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}
/*End Carousel*/

/*buttons*/
.btn {
  background-color: #b9b7b3;
  color:#271f16;
  border: none;
  
}

.btn:hover {
  background-color: rgb(236, 231, 231);
  color: #271f16; 
}

.title {
left: 10%;
}

.about {
  left: 10%;
  font-size: 25px;
}

/*Weather*/
.weatherBox p i {
color: cornsilk;
text-shadow: 1.5px 1.5px rgba(88, 49, 124, 0.5);
animation: rotateSun 20s infinite linear;
align-items: center;
}
.weatherBox {
  background-color:#b9b7b3;
  color: #271f16;
  /* border: 2px solid rgb(30, 30, 58); */
  box-shadow: 2px 4px 16px 0 rgba(0,0,0,0.5);
  width: 20%;  
  /* height: 300px;   */
  position: absolute; 
  top: 8%; 
  left: -15%; 
}

@keyframes rotateSun {
  to {
      transform: rotate(360deg);
  }
}

/*Other Rules*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dad8cb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*footer*/
.footer {
  margin-top: 15px;
}
#demo {
width: 100%;
align-content: center;
}

.jumbotron {
    padding: 4rem 2rem;
    height: 900px;
}

@keyframes rotateSun {
  to {
      transform: rotate(360deg);
  }
}

